<div class="listing-submit">
    <label class="info-check listing-submit__terms">
        <input type="checkbox" name="agree_terms" id="agreeTerms" checked>
        <span>Я згоден з умовами <a href="#">Угода про надання послуг</a></span>
    </label>
    <p class="listing-submit__privacy">Ваші персональні дані будуть оброблені та захищені згідно з <a href="#">Політикою приватності</a></p>
    <div class="listing-submit__row">
        <button class="listing-submit__btn" type="submit">Розмістити оголошення</button>
        <span class="listing-submit__note">При кліці на кнопку "Розмістити оголошення"<br>Ви перейдете до публікації свого оголошення</span>
    </div>
</div>